name: Deploy DAG to Airflow

on:
  push:
    branches: [master]
    paths:
      - 'dags/**'  # Запускать только при изменениях в папке dags

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Получаем список изменённых файлов в последнем коммите
      - name: Get changed DAG files
        id: changed-files
        uses: tj-actions/changed-files@v35
        with:
          files: |
            dags/**

      # Переименовываем только изменённые файлы
      - name: Rename changed DAG files with GitHub actor
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          OWNER="${{ secrets.OWNER }}"
          mkdir -p ${{ secrets.OWNER }}/dags
          # Проходим по всем изменённым файлам
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            if [[ $file == dags/* ]]; then
              filename=$(basename "$file")
              name_without_ext="${filename%.py}"
              new_filename="${name_without_ext}_${OWNER}.py"
              cp "$file" "${{ secrets.OWNER }}/dags/$new_filename"
              sed -i "s/{{ OWNER }}/${OWNER}/g" "${OWNER}/dags/$new_filename"
            fi
          done

      - name: Create user folder on VM
        uses: appleboy/ssh-action@v1
        with:
          host: "95.213.230.26"
          username: "root"
          port: "22"
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            mkdir -p "/home/apache-superset/airflow/dags/${{ secrets.OWNER }}/dags"

      # Копируем переименованные файлы в общую папку dags/ на ВМ
      - name: Copy renamed DAGs to VM
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: appleboy/scp-action@v0.1.4
        with:
          host: "95.213.230.26"
          username: "root"
          port: "22"
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "${{ secrets.OWNER }}/dags/*"
          target: "/home/apache-superset/airflow/dags/"
